  
/*
 * -------------------------------------------------
 *  luslab/group-nextflow-clip Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
  // Logging options
  monochrome_logs = false
}