/*
 * -------------------------------------------------
 *  luslab/group-nextflow-clip Nextflow config file
 * -------------------------------------------------
 * Config options for running individual module test patterns
 */

process.container = 'luslab/nextflow-clip:dev'
docker.enabled = true
params.classpath = "groovy/NfUtils.groovy"