/*
 * -------------------------------------------------
 *  luslab/group-nextflow-clip Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Test parameters
params {
  reads = "$baseDir/test/data/reads/*.fq.gz"
  bowtie_index = "$baseDir/test/data/small_rna_bowtie"
  star_index = "$baseDir/test/data/reduced_star_index"
  genome_fai = "$baseDir/test/data/GRCh38.primary_assembly.genome_chr6_34000000_35000000.fa.fai"
  umidedup = false
}