/*
 * -------------------------------------------------
 *  luslab/group-nextflow-clip Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Pipeline Options
  // Workflow flags
  reads = "$baseDir/test/data/reads/*.fq.gz"
  bowtie_index = "$baseDir/test/data/small_rna_bowtie"
  star_index = "$baseDir/test/data/reduced_star_index"
  genome_fai = "$baseDir/test/data/GRCh38.primary_assembly.genome_chr6_34000000_35000000.fa.fai"
  results = "$baseDir/test/data/results"
}

//set cluster requirements

process {
  cpus = { check_max( 2, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 4.h * task.attempt, 'time' ) }

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 1
  maxErrors = '-1'

  // Process-specific resource requirements
  withLabel: low_memory {
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
  }
  withLabel: mid_memory {
    cpus = { check_max (4, 'cpus')}
    memory = { check_max( 28.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }
  withLabel: high_memory {
    cpus = { check_max (10, 'cpus')}
    memory = { check_max( 70.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }

}

manifest {
  name = 'luslab/group-nextflow-clip'
  author = 'Chris Cheshire & Luscombe Lab'
  homePage = 'https://github.com/luslab/group-nextflow-clip'
  description = 'Nextflow CLIP analysis pipeline.'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = 'alpha'
}