/*
 * -------------------------------------------------
 *  luslab/group-nextflow-clip Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

process.container = 'luslab/nextflow-clip:dev'
docker.enabled = true

// Global default params, used in configs
params {
  // Pipeline Options
  // Workflow flags
  reads = "test/data/reads/*.fq.gz"
  bowtie_index = "test/data/small_rna_bowtie"
  star_index = "test/data/reduced_star_index"
  genome_fai = "test/data/GRCh38.primary_assembly.genome_chr6_34000000_35000000.fa.fai"
}